extends ../layout

block content
    a(href="/bicicletas/create") Nueva Bicicleta
    // Creamos tabla
    table.table
        // Fila cabecera con los atributos de Bicicleta
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
        tbody
            // Por cada objeto Bicicleta se añade una fila con sus atributos
            each bici in bicis
                tr
                    td(scope='row')= bici.bicicletaID
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        form.inline(method="post" action="bicicletas/" + bici.bicicletaID + "/delete")
                            input(type="hidden" name="bicicletaID" value=bici.bicicletaID)
                            button.link-button(type="submit" class="btn")
                                = "Eliminar"

                    td
                        form.inline(method="get" action="bicicletas/" + bici.bicicletaID + "/update")
                            button.link-button(type="submit" class="btn")
                                = "Actualizar"